.page__body {
  margin: 0;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 1.44;
  font-weight: 400;
  color: $color-base-black;
  background-color: $color-base-white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
  }
}
