.site-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5px;
  }
}

.site-list__item {
  text-align: center;
  border-top: 1px solid $color-base-secondary;

  &:last-child {
    border-bottom: 1px solid $color-base-secondary;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &:last-child {
      border: none;
    }

    &--active {
      border-bottom: 2px solid $color-base-primary;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.site-list__link {
  display: block;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.1;
  font-weight: 500;
  color: inherit;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $color-base-primary;
  }

  &:active {
    background-color: $color-base-secondary;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }
}
